<div class="main-layout">
  <div class="flex mb-4" >
    <div class="w-1/2 h-12">
      <h2 style="font-size: xx-large;">Propriétés</h2>
    </div>
  </div>
  <!-- <nav class="nav nav-pills flex-column flex-sm-row" style="width: 25%;font-size: larger;">
    <a class="flex-sm-fill text-sm-center  selected" aria-current="page" href="#">Posséde</a>
    <a class="flex-sm-fill text-sm-center " href="#">A Louer</a>
  </nav> -->
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Posséde">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <label for="" class="form-label">Nom</label>
            <input type="text" class="form-control custom-placeholder"
             placeholder="Nom" >
          </div>
          <div class="col-md-auto">
            <label for="" class="form-label">Etat</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">moyenne</option>
              <option value="2">bien</option>
              <option value="3">trés bien</option>
            </select>
          </div>
          <div class="col col-lg-2">
            <label for="" class="form-label">Meublée</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">oui</option>
              <option value="2">non</option>
            </select>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-end mt-3">
          <button mat-flat-button color="primary" class="btn cstm-styling" (click)="openDialog()">Ajouter une propriété</button>
        </div>
        <div>
          <div class="mt-5" *ngFor="let property of properties">
            <div
              class=" bg-cyan-50 card border-2 shadow-md border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light rounded-2xl">
              <div class="row g-0">
                <div class="col-md-3">
                      <img
                        src="{{property.image1}}"
                        class="h-100 rounded-start" >
                      </div>
                      <div class="col-md-6">
                        <div class="card-body" style="height: 80%;">
                          <div class="row">
                            <div class="col">
                              <h5 style="font-size: x-large;" class="card-title">{{property.name}}</h5>
                            </div>
                            <div class="col-md-auto">
                      
                            </div>
                            <div class="col col-md-auto">
                              <button class="blue-circle"><mat-icon matBadge="2" matBadgeColor="warn">message</mat-icon></button>
                            <button class="blue-circle"><mat-icon>edit</mat-icon></button>
                            <button class="blue-circle"><mat-icon>delete</mat-icon></button>
                            </div>
                            </div>
                            <p class="card-text">{{property.description}}</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                            <div class="row">
                              <div class="col col d-flex justify-content-center align-items-center">
                                <button class="btn btn-dark">Détails contrat</button>
                              </div>
                              <div class="col col d-flex justify-content-center align-items-center">
                                <button class="btn btn-dark"><a href="/property-details/{{property.id}}">Détails de la propriété</a></button>
                              </div>
                            </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center p-4">
                              <div class="d-flex flex-col align-items-center justify-content-center gap-3 h-100 overflow-hidden rounded-md">
                                <mat-calendar [(selected)]="selected" class="bg-white p-3"></mat-calendar>
                                <button class=" btn blue-button w-100 justify-content-center d-flex"><span
                                    class="d-flex gap-2"><mat-icon>cancel</mat-icon> Annuler la
                                    visite</span></button>
                              </div>
                        </div>
                        
                        </div>
                        </div>
          </div>
        </div>
        </div>

    </mat-tab>
    <mat-tab label="A Louer">Content 2</mat-tab>
  </mat-tab-group>
</div>
